# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Environnement virtuel
venv/
env/
.venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
backend/media/
backend/staticfiles/
backend/.env

# Variables d'environnement
.env
.env.local
.env.production

# Éditeurs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Node (si utilisé)
node_modules/

# Archives
*.tar.gz
*.zip
